# deps
node_modules/
.pnpm-store/

# builds
dist/
build/
web-build/
.expo/
.expo-shared/

# python
__pycache__/
*.py[cod]
.venv/
apps/api/.venv/

# env
.env
.env.*
!.env.example

# misc
.DS_Store
*.log
.vscode/
.idea/
